.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
    background: #fafafa;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.progress {
    height: 10px;
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}

ul {
    list-style: none;
    margin: 0;
}

ul.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    ul.lista-invitados li {
        width: 50%;
    }
}

@media only screen and (min-width:768px) {
    ul.lista-invitados li {
        width: 33.3%;
    }
}

ul.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    ul.lista-invitados li {
        width: 50%;
    }
}

@media only screen and (min-width:768px) {
    ul.lista-invitados li {
        width: 33.3%;
    }
}

div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    max-width: 100%;
    filter: gray;
    filter: grayscale(1);
    transition: all .5s ease-in-out;
}

div.invitado:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

div.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 217, 0);
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}

div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}