<footer class="site-footer">
    <div class="contenedor clearfix">
        <div class="footer-informacion">
            <h3>Sobre <span>Amauta</span></h3>
            <p>Somos una empresa dedicada a brindar soluciones integrales en capacitación informática, bajo una modalidad de enseñanza personalizada, nuestra capacitación está orientada en las herramientas de software de mayor demanda estudiantil y laboral.</p>
        </div>
        <div class="ultimos-tweets">
            <h3>Últimos <span>tweets</span></h3>
            <a target="_blank" class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#fe4918" href="https://twitter.com/?lang=es">Tweets by Amauta</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="menu">
            <h3>Redes <span>sociales</span></h3>
            <nav class="redes-sociales">
                <a target="_blank" href="https://www.facebook.com/facebookapp/?brand_redir=185150934832623"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.pinterest.com/peru/_created/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.youtube.com/?gl=MX&hl=es-419"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </nav>
        </div>
    </div>

    <p class="copyright">
        Todos los derechos Reservados AMAUTA 2021.
    </p>

</footer>