<footer class="site-footer">
    <div class="contenedor clearfix">
        <div class="footer-informacion">
            <h3>Sobre <span>CERSEU</span></h3>
            <p>El Centro de Responsabilidad Social y Extensión Universitaria es el órgano de línea encargado de integrar a la Facultad de Ingeniería de Sistemas e Informática a la comunidad, a través de la organización de actividades de cultura general,
                carácter profesional no escolarizado y prestación de servicios, con el apoyo de docentes y estudiantes.</p>
        </div>
        <div class="ultimos-tweets">
            <h3>Nuestros <span>Contactos</span></h3>
            <p>Ciudad Universitaria - Av. Germán Amézaga</p>
            <p>Teléfono: 619 - 7000 Anexo 3615</p>
            <a href="">informatica.fisi@unmsm.edu.pe</a>
        </div>
        <div class="menu">
            <h3>Redes <span>sociales</span></h3>
            <nav class="redes-sociales">
                <a target="_blank" href="https://www.facebook.com/facebookapp/?brand_redir=185150934832623"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.youtube.com/?gl=MX&hl=es-419"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </nav>
        </div>
    </div>

    <p class="copyright">
        Todos los derechos Reservados CERSEU 2021.
    </p>

</footer>