<div>

</div>
<div class="barra">

    <a href="#nav" class="mobile-menu">
        <i class="fas fa-ellipsis-v"></i>
    </a>

    <nav id="nav" class="navegacion-principal contenedor">
        <a [routerLink]="['Inicio']">Inicio</a>
        <a [routerLink]="['Nosotros']">Nosotros</a>
        <a [routerLink]="['Blog']">Blog</a>
        <a [routerLink]="['Cursos']">Cursos</a>
        <a [routerLink]="['Contacto']">Contacto</a>
        <a [routerLink]="['Login']">Ingresar</a>

        <a href="#" class="cerrar">
            <i class="fas fa-times"></i>
        </a>
    </nav>

</div>