html {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}


/** Globales **/

h3 {
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

div.hero {
    background-image: url(../../../assets/images/encabezado.jpg);
    height: 40vh;
    background-position: top center;
    background-size: cover;
    width: 100%;
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2em;
    text-align: center;
}

div.contenido-header {
    padding-top: 40px;
}

@media only screen and (min-width:768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
}

nav.redes-sociales a:last-child {
    margin-right: 0;
}

div.informacion-evento {
    text-align: center;
    color: #ffffff;
}

@media only screen and (min-width:768px) {
    div.informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}

div.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}

div.informacion-evento p i {
    color: #fe4918;
    font-size: 2.4rem;
}

p.fecha {
    float: left;
}

p.ciudad {
    float: right;
    text-align: right;
}

div.slogan {
    text-transform: none!important;
    display: block;
}

div.slogan span {
    font-weight: bold;
}

div.descripcion {
    text-transform: none!important;
    padding: 50px;
}

h1.nombre-sitio {
    font-size: 8.9vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: coral;
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 11.5vw;
        margin: 0;
        line-height: 1;
    }
}


/** Lettering**/

h1.nombre-sitio span {
    position: relative;
    text-shadow: 0 0 30px black;
}