<header>
    <div class="hero  animated fadeIn fast">
        <div class="contenido-header">

            <div class="informacion-evento">

                <h1 class="nombre-sitio">Amauta</h1>
                <div class="slogan padding: 12px">
                    <p>La educación no es un gasto, es una <span>inversión</span></p>
                </div>


            </div>
            <!--.informacion-evento-->

        </div>
    </div>

</header>

<section class="seccion contenedor">
    <h2>La mejor página para estudiar y salir adelante</h2>
    <p>
        Praesent rutrum efficitur pharetra. Vivamus scelerisque pretium velit, id tempor turpis pulvinar et. Ut bibendum finibus massa non molestie. Curabitur urna metus, placerat gravida lacus ut, lacinia congue orci. Maecenas luctus mi at ex blandit vehicula.
        Morbi porttitor tempus euismod.
    </p>