<header>
    <div class="hero  animated fadeIn fast">
        <div class="contenido-header">

            <div class="informacion-evento">

                <h1 class="nombre-sitio">CERSEU</h1>
                <div class="slogan padding: 12px">
                    <p>Centro de Responsabilidad Social y Extensión Universitaria.</p>
                </div>


            </div>
            <!--.informacion-evento-->

        </div>
    </div>

</header>

<section class="seccion contenedor">
    <h2>Aprende desde casa con clases particulares online</h2>
    <p>
        El método de aprendizaje que tiene en cuenta tu trabajo, tu familia y te permite hacer las clases cuando y donde quieras.
    </p>