<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
    <div class="testimonial-image" itemprop="image">
        <img width="100%" height="100%" src="https://bootdey.com/img/Content/avatar/avatar2.png">
    </div>
    <h1>Luis Gonzales Ayvar</h1>
    <h5>luis.gonzales@unmsm.edu.pe</h5>
    <br>
    <h2>Cursos de capacitacion inscritos:</h2>

    <div class="row">
        <div class="col-12">
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="one1-tab" data-toggle="tab" href="#one1" role="tab" aria-controls="One1" aria-selected="true">Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="two1-tab" data-toggle="tab" href="#two1" role="tab" aria-controls="Two1" aria-selected="false">Clases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="three1-tab" data-toggle="tab" href="#three1" role="tab" aria-controls="Three1" aria-selected="false">Material</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="four1-tab" data-toggle="tab" href="#four1" role="tab" aria-controls="four1" aria-selected="false">Notas</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">



                    <div class="tab-pane fade show active p-3" id="one1" role="tabpanel" aria-labelledby="one1-tab">

                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/html.PNG"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Curso de HTML 5</h5>
                                <div class="d-flex flex-row">

                                </div>

                                <p class="text-justify para mb-0">HTML es un lenguaje de marcado que se utiliza para el desarrollo de páginas de Internet. Se trata de la siglas que corresponden a HyperText Markup Language, es decir, Lenguaje de Marcas de Hipertexto.<br><br></p>
                                <p>Profesor: Susana Rivera</p>
                                <p>Dias de clases: Jueves</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="two1" role="tabpanel" aria-labelledby="two-tab">
                        <h5 class="card-title">Clases de Html 5</h5>
                        <app-clases></app-clases>

                    </div>
                    <div class="tab-pane fade p-3" id="three1" role="tabpanel" aria-labelledby="three-tab">
                        <h5 class="card-title">Material de clases</h5>
                        <div class="products">
                            <div class="item">
                                <span class="price"><a href="https://www.w3schools.com/js/DEFAULT.asp"> https://www.w3schools.com/js/DEFAULT.asp </a></span>
                                <p class="item-name">Documentos Utilizados:</p>
                                <span class="price"><a href="https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy"> https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy </a></span>
                                <p class="item-name">Enlace del Drive:</p>
                                <span class="price"><a href="https://www.youtube.com/watch?v=kN1XP-Bef7w"> https://www.youtube.com/watch?v=kN1XP-Bef7w </a></span>
                                <p class="item-name">Enlace de videos:</p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade p-3" id="four1" role="tabpanel" aria-labelledby="four-tab">
                        <h5 class="card-title">Evaluaciones:</h5>
                        <div class="products">
                            <h3 class="title">Practicas</h3>
                            <div class="item">
                                <span class="price">14</span>
                                <p class="item-name">Primera Practica</p>
                                <span class="price">15</span>
                                <p class="item-name">Segunda Practica</p>
                                <span class="price">--</span>
                                <p class="item-name">Tercera Practica</p>
                            </div>
                            <div class="total">Nota Final<span class="price">--</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">


                            <a class="nav-link" id="one2-tab" data-toggle="tab" href="#one2" role="tab" aria-controls="One2" aria-selected="true">Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="two2-tab" data-toggle="tab" href="#two2" role="tab" aria-controls="Two2" aria-selected="false">Clases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="three2-tab" data-toggle="tab" href="#three2" role="tab" aria-controls="Three2" aria-selected="false">Material</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="four2-tab" data-toggle="tab" href="#four2" role="tab" aria-controls="four2" aria-selected="false">Notas</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="one2" role="tabpanel" aria-labelledby="one2-tab">



                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/css.PNG"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Curso de CSS 3</h5>
                                <div class="d-flex flex-row">

                                </div>

                                <p class="text-justify para mb-0">CSS, en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.<br><br></p>
                                <p>Profesor: Susan Sanchez</p>
                                <p>Dias de clases: Miercoles</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="two2" role="tabpanel" aria-labelledby="two-tab">


                        <h5 class="card-title">Clases de CSS</h5>

                        <app-clases></app-clases>

                    </div>
                    <div class="tab-pane fade p-3" id="three2" role="tabpanel" aria-labelledby="three-tab">
                        <h5 class="card-title">Material de clases</h5>

                        <div class="item">
                            <span class="price"><a href="https://www.w3schools.com/js/DEFAULT.asp"> https://www.w3schools.com/js/DEFAULT.asp </a></span>
                            <p class="item-name">Documentos Utilizados:</p>
                            <span class="price"><a href="https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy"> https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy </a></span>
                            <p class="item-name">Enlace del Drive:</p>
                            <span class="price"><a href="https://www.youtube.com/watch?v=kN1XP-Bef7w"> https://www.youtube.com/watch?v=kN1XP-Bef7w </a></span>
                            <p class="item-name">Enlace de videos:</p>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="four2" role="tabpane2" aria-labelledby="four-tab">
                        <h5 class="card-title">Evaluaciones:</h5>
                        <div class="products">
                            <h3 class="title">Practicas</h3>
                            <div class="item">
                                <span class="price">14</span>
                                <p class="item-name">Primera Practica</p>
                                <span class="price">--</span>
                                <p class="item-name">Segunda Practica</p>
                                <span class="price">--</span>
                                <p class="item-name">Tercera Practica</p>
                            </div>
                            <div class="total">Nota Final<span class="price">--</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 tab-card">
                <div class="card-header tab-card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="one3-tab" data-toggle="tab" href="#one3" role="tab" aria-controls="One3" aria-selected="true">Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="two3-tab" data-toggle="tab" href="#two3" role="tab" aria-controls="Two3" aria-selected="false">Clases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="three3-tab" data-toggle="tab" href="#three3" role="tab" aria-controls="Three3" aria-selected="false">Material</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="four3-tab" data-toggle="tab" href="#four3" role="tab" aria-controls="four3" aria-selected="false">Notas</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p-3" id="one3" role="tabpanel" aria-labelledby="one3-tab">
                        <div class="row p-2 bg-white border rounded">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/images/javascript.PNG"></div>
                            <div class="col-md-6 mt-1">
                                <h5>Curso de Javascript</h5>
                                <div class="d-flex flex-row">

                                </div>

                                <p class="text-justify para mb-0">JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.<br><br></p>
                                <p>Profesor: Juan Sanchez</p>
                                <p>Dias de clases: Martes</p>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade p-3" id="two3" role="tabpanel" aria-labelledby="two3-tab">
                        <h5 class="card-title">Clases de Javascript</h5>
                        <app-clases></app-clases>

                    </div>
                    <div class="tab-pane fade p-3" id="three3" role="tabpanel" aria-labelledby="three3-tab">

                        <h5 class="card-title">Material de clases</h5>
                        <div class="item">
                            <span class="price"><a href="https://www.w3schools.com/js/DEFAULT.asp"> https://www.w3schools.com/js/DEFAULT.asp </a></span>
                            <p class="item-name">Documentos Utilizados:</p>
                            <span class="price"><a href="https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy"> https://drive.google.com/drive/u/1/folders/1ogQ1p8fjknwKoGjkUaTkL8wdFZI99sEy </a></span>
                            <p class="item-name">Enlace del Drive:</p>
                            <span class="price"><a href="https://www.youtube.com/watch?v=kN1XP-Bef7w"> https://www.youtube.com/watch?v=kN1XP-Bef7w </a></span>
                            <p class="item-name">Enlace de videos:</p>
                        </div>

                    </div>
                    <div class="tab-pane fade p-3" id="four3" role="tabpane3" aria-labelledby="four-tab">
                        <h5 class="card-title">Evaluaciones:</h5>
                        <div class="products">
                            <h3 class="title">Practicas</h3>
                            <div class="item">
                                <span class="price">--</span>
                                <p class="item-name">Primera Practica</p>
                                <span class="price">--</span>
                                <p class="item-name">Segunda Practica</p>
                                <span class="price">--</span>
                                <p class="item-name">Tercera Practica</p>
                            </div>
                            <div class="total">Nota Final<span class="price">--</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>