/***
Bootstrap4 Card with Tabs by @mdeuerlein
***/

body {
    background-color: rgb(255, 208, 121);
}

h1,
h2,
h3,
h4,
p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
}

.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}


/* Tabs Card */

.tab-card {
    border: 1px solid #eee;
}

.tab-card-header {
    background-color: rgb(255, 208, 121);
}


/* Default mode */

.tab-card-header>.nav-tabs {
    border: none;
    margin: 0px;
}

.tab-card-header>.nav-tabs>li {
    margin-right: 2px;
}

.tab-card-header>.nav-tabs>li>a {
    border: 0;
    border-bottom: 2px solid transparent;
    margin-right: 0;
    color: #737373;
    padding: 2px 15px;
}

.tab-content {
    background-color: rgb(255, 208, 121);
}

.tab-card-header>.nav-tabs>li>a.show {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

.tab-card-header>.nav-tabs>li>a:hover {
    color: #007bff;
}

.tab-card-header>.tab-content {
    padding-bottom: 0;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


/* Horizontal line */

.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}


/* Vertical line */

.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

div img {
    display: block;
    margin: auto;
    background-image: center;
    height: 200px;
    width: 200px;
}

@media only screen and (min-width:768px) {
    div img {
        background-image: center;
    }
}


/*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */

.testimonial-image {
    float: left;
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.title {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
    font-weight: 600;
    padding-bottom: 8px;
}

.products {
    background-color: #f7fbff;
    padding: 25px;
}

.products .item {
    margin-bottom: 1em;
}

.products .item-name {
    font-weight: 600;
    font-size: 0.9em;
}

.products .item-description {
    font-size: 0.8em;
    opacity: 0.6;
}

.products .item p {
    margin-bottom: 0.2em;
}

.products .price {
    float: right;
    font-weight: 600;
    font-size: 0.9em;
}

.products .total {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 19px;
    font-weight: 600;
    line-height: 1;
}