<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<!-- Page Header -->
<header class="masthead animated fadeIn fast" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Acerca de Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container animated fadeIn">
    <div class="row">
        <div class=" ol-lg-8 col-md-10 mx-auto">
            <p>
                La Facultad de Ingeniería de Sistemas e Informática de la Universidad Nacional Mayor de San Marcos, como parte integrante de la sociedad, está llamada a coadyuvar con la superación social y mejoramiento de la calidad de vida de la sociedad. Para satisfacer
                esta necesidad educativa y cultural de la colectividad, debe abordar los avances científicos y tecnológicos con el fin de estar en capacidad de dar respuestas a la problemática de su entorno social y productivo.
            </p>
            <p>
                El Centro de Responsabilidad Social y Extensión Universitaria es el órgano de línea encargado de integrar a la Facultad de Ingeniería de Sistemas e Informática a la comunidad, a través de la organización de actividades de cultura general, carácter profesional
                no escolarizado y prestación de servicios, con el apoyo de docentes y estudiantes.
            </p>
            <p>
                La Extensión como vehículo ideal en la interacción recíproca Universidad-Sociedad, se erige como una labor social para la construcción de pertinencia social de la Institución en el sentido de cumplir con el deber educativo de formar y desarrollar las
                potencialidades del estudiante, ofreciéndole para ello sensibilidad, competencias en los avances científicos y tecnológicos y escenarios propicios para su evolución y servicio a la comunidad.
            </p>


            <p>
                La proyección Social como instrumento de vinculación y difusión de las carreras de ingeniería de sistemas y software.
            </p>

            <p>
                El Centro de Responsabilidad Social y Extensión Universitaria brinda Cursos, Capacitaciones, Consultorías, Programas de Especializaciones en: Computación e Informática, Ingeniería de Sistemas, Ingeniería de Software, dirigidos a la comunidad sanmarquina
                y público en general. Se brindan también, capacitaciones a empresas y organizaciones, para lo cual puede solicitar la asistencia de un representante. Además realiza programas y proyectos de Proyección Social en coordinación de los docentes
                y alumnos.
            </p>

        </div>
    </div>
</div>

<section class="contenedor seccion">
    <h2>Galería de fotos</h2>

    <ul class="lista-invitados clearfix">


        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/01.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/02.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/03.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/04.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/05.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/06.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




    </ul>
</section>