<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<!-- Page Header -->
<header class="masthead animated fadeIn fast" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Acerca de Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container animated fadeIn">
    <div class="row">
        <div class=" ol-lg-8 col-md-10 mx-auto">
            <p>
                Somos una empresa dedicada a brindar soluciones integrales en capacitación informática, bajo una modalidad de enseñanza personalizada, nuestra capacitación está orientada en las herramientas de software de mayor demanda estudiantil y laboral.
            </p>
            <p>
                Amauta brinda cursos de capacitación para usuarios que recién se inician en el uso de las herramientas informáticas, así como a técnicos, ingenieros y profesionales que necesitan optimizar sus procesos utilizando tecnologías de información.
            </p>
            <p>
                El mayor reto de Amauta que se ha propuesto es brindar una capacitación de calidad, ofreciendo a nuestros usuarios un servicio integral de formación y capacitación tecnológica en las herramientas de software con más demanda en el mercado.
            </p>

            <h4>Mision:</h4>
            <p>
                Enseñar y capacitar a alumnos competentes capaces de mejorar su productividad laboral y estudiantil en herramientas informáticas.
            </p>
            <h4>Vision:</h4>
            <p>
                Ser reconocidos como uno de los mejores centros de enseñanza y capacitación informática del Perú.
            </p>
        </div>
    </div>
</div>

<section class="contenedor seccion">
    <h2>Galería de fotos</h2>

    <ul class="lista-invitados clearfix">


        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/01.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/02.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/03.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/04.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/05.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>



        <li>
            <div class="invitado">
                <a class="invitado-info">
                    <img style="max-width:100%;" src="../../../assets/images/06.jpg" alt="Imagen invitado">

                </a>
            </div>

            <!-- END .invitado -->
        </li>




    </ul>
</section>