<div class="login-dark">
    <form [formGroup]="userEmails">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <label>
            <input [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" class="form-control"
                   placeholder="Email"
                   formControlName="primaryEmail" />
          </label>

            <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                <small *ngIf="primEmail.errors?.required" class="text-danger">Primary email is required</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email address</small>
            </div>
        </div>

        <div class="form-group">
            <label>
            <input [class.is-invalid]="passwrd.invalid && passwrd.touched" class="form-control" formControlName="password"
                   type="password" name="password" placeholder="Password" />
          </label>
            <div *ngIf="(passwrd.invalid && passwrd.touched) || passwrd.dirty">
                <small *ngIf="passwrd.errors?.required" class="text-danger">Password is required</small>
            </div>
        </div>

        <div class="form-group">
            <button [routerLink]="['/usuario']" class="btn btn-primary btn-block" [disabled]="!userEmails.valid" type="submit">Log In</button>
        </div>

        <a href="#" class="forgot">Forgot your email or password?</a>

    </form>
</div>