<div class="container">

    <div class="row">
        <div class="col-lg-9 mx-auto">
            <!-- Accordion -->
            <div id="accordionExample" class="accordion shadow">

                <!-- Accordion item 1 -->
                <div class="card">
                    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 1</a></h6>
                    </div>
                    <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase: </p>
                            <a href="https://meet.google.com/"> https://meet.google.com/</a>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 2 -->
                <div class="card">
                    <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 2</a></h6>
                    </div>
                    <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                            <a href="https://meet.google.com/"> https://meet.google.com/</a>
                        </div>
                    </div>
                </div>

                <!-- Accordion item 3 -->
                <div class="card">
                    <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 3</a></h6>
                    </div>
                    <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                            <a href="https://meet.google.com/"> https://meet.google.com/</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading4" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 4</a></h6>
                    </div>
                    <div id="collapse4" aria-labelledby="heading4" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                            <a href="https://meet.google.com/"> https://meet.google.com/</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading5" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 5</a></h6>
                    </div>
                    <div id="collapse5" aria-labelledby="heading5" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading6" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 6</a></h6>
                    </div>
                    <div id="collapse6" aria-labelledby="heading6" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading7" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 7</a></h6>
                    </div>
                    <div id="collapse7" aria-labelledby="heading7" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading8" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 8</a></h6>
                    </div>
                    <div id="collapse8" aria-labelledby="heading8" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading9" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 9</a></h6>
                    </div>
                    <div id="collapse9" aria-labelledby="heading9" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading10" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 10</a></h6>
                    </div>
                    <div id="collapse10" aria-labelledby="heading10" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading11" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 11</a></h6>
                    </div>
                    <div id="collapse11" aria-labelledby="heading11" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="heading12" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Clase 12</a></h6>
                    </div>
                    <div id="collapse12" aria-labelledby="heading12" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-3">
                            <p class="font-weight-light m-0">Enlace la clase:</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>