<section class="section-medium section-arrow--bottom-center section-arrow-primary-color bg-primary  animated fadeIn fast">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <h2 class="section-title "> Que dicen acerca de nosotros</h2>
            </div>
        </div>
    </div>
</section>
<section class="section-primary t-bordered  animated fadeIn fast">
    <div class="container">
        <div class="row testimonial-three testimonial-three--col-three">
            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            La experiencia ha superado mis expectativas. La interacción con los profesores es dinámica y muy fácil.
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">
                            Alfred Huaman
                            </strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Buena atención! Explica las cosas muy claras que facilite la comprensión. Recomendable.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Gabriel Chavez</strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Mi experiencia utilizando Amauta no tiene nada que invidiar con la experiencia de las clases presenciales que había hecho antes.
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Alexandra Martinez:</strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar4.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Excelentes explicaciones, muy profesional, brinda temarios especiales a lo que necesito, totalmente puntual, y al pendiente del mi avance, entusiasmado para las siguientes clases.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Andre orange</strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Los profesores son cumplidos y comprometidos con las clases, bien preparados, se preocupan por que el estudiante aprenda y adquiera habilidades para resolver los problemas. Muy buena estrategia pedagógica.
                        </p>
                    </div>
                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Oscar Vasquez</strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Trabajador y Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 testimonial-three-col">
                <div class="testimonial-inner">
                    <div class="testimonial-image" itemprop="image">
                        <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                    </div>

                    <div class="testimonial-content">
                        <p>
                            Generan confianza y realizan practicas interactivas en las cuales se pueden manejar herramientas útiles para la enseñanza.
                        </p>
                    </div>

                    <div class="testimonial-meta">
                        <strong class="testimonial-name" itemprop="name">Martin Vizcarra</strong>
                        <span class="testimonial-job-title" itemprop="jobTitle">Estudiante</span> – <a class="testimonial-link" href="#">Media Wiki</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="page-heading">
        <h1>Deje un Comentario:</h1>
        <span class="subheading"></span>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container  animated fadeIn fast">
    <div class="be-comment-block">

        <div class="be-comment">

            <form class="form-block">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <input class="form-input" type="text" placeholder="Tu nombre">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 fl_icon">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-envelope-o"></i></div>
                            <input class="form-input" type="text" placeholder="Tu email">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <textarea class="form-input" required="" placeholder="Tu comentario"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-dark pull-right">Comentar</a>
                </div>
            </form>
        </div>
    </div>